doctype html
html
    head
    body
        h1.This h1 tag.
        // Way to right the single line content
        p This is a paragraph tag.        
        // Way to right the multiple line content
        p. 
            This is a paragraph tag.
            andd this is a new line.
        ul
          li This is the first item
          li This is the second item
          li This is the third item
                h1#pageTitle This is title with id
        p.big-paragraph.
            This is paragraph wiht class
            And line change.
        // Create  a default div with class
        .default-div-class This is default paragraph tag with class.
        
        // Create  a default div with id
        #default-div-class This is default paragraph tag with id.  